<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062792274217-ccjec0rbhfmqnmije0o60038ssia1ba1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062792274217-ccjec0rbhfmqnmije0o60038ssia1ba1</string>
	<key>API_KEY</key>
	<string>AIzaSyATZoh9yqPPcoUYeWvpA3hu6dteHLMXcG4</string>
	<key>GCM_SENDER_ID</key>
	<string>1062792274217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techstrum.catchtheballoons</string>
	<key>PROJECT_ID</key>
	<string>catchtheballoons</string>
	<key>STORAGE_BUCKET</key>
	<string>catchtheballoons.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062792274217:ios:a483a9e8d2d6e86d9d9738</string>
</dict>
</plist>